# Python cache directories
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.venv/
venv/

# Data/Artifacts
data/*.csv
artifacts/*
*.png
*.pdf

# OS/Editor-specific
.DS_Store
*.swp
